@{
    ViewBag.Title = "Home Page";
}

<div id="middle-container">
    <div id="form">
        <table id="form_tbl">
            <tbody>
                <tr>
                    <td>
                        <p id="label_log">Sign In</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="material-icons" style="font-size: 120px; color: #D4AC74;">account_circle</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="dropdown_log">
                            <option value="Student">Log In as Student</option>
                            <option value="Faculty">Log In as Faculty Member</option>
                            <option value="Staff">Log In as Staff</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Student Number" class="inputs" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="Password" class="inputs" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btns">Sign In</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="redirecter_log">Don't have an account yet? Sign Up</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>