@{
    ViewBag.Title = "Home Page";
}

<div id="middle-container">
    <div id="form">
        <table id="form_tbl">
            <tbody>
                <tr>
                    <td>
                        <p>Quezon City eLibrary</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Student Number" class="inputs" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="Password" class="inputs" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btns">Sign In</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>