<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCU eLibrary</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div id="upper-container"></div>
        <div id="upper-nav">
            <ul id="header_ul">
                <li class="header_li" style="width: 70%;">
                    <img src="~/Content/images/header_main.jpg" id="img_header" />
                </li>
                <li class="header_li">
                    <table id="tbl_navs_under">
                        <tbody>
                            <tr>
                                <td><i class="material-icons" style="font-size: 40px; color: #D4AC74;">person</i></td>
                                <td><span style="font-size: 40px; color: #D4AC74;">|</span></td>
                                <td><i class="material-icons" style="font-size: 40px; color: #D4AC74;">facebook</i></td>
                                <td><i class="material-icons" style="font-size: 40px; color: #D4AC74;">phone</i></td>
                                <td><i class="material-icons" style="font-size: 40px; color: #D4AC74;">bird</i></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
        <div id="main-nav"></div>
    </header>
    <div class="main_body">
        @RenderBody()
    </div>
</body>
</html>
